

label {
  font-weight: 500;
  font-size: 12px;
  font-family: "Roboto", "Noway", sans-serif;
  color: #666666;
  margin-bottom: 10px;
}
.form-control {
  font-family: "Roboto", "Noway", sans-serif;
  height: 50px;
  width: 100%;
  border: 2px solid #F5F5F5;
  border-radius: 4px;
}

