body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  @include media-breakpoint-up(xl){
	font-size: 52px;
	letter-spacing: -2px;
	margin-bottom: 35px;
  }
}

h3 {

}